body{
	padding: 10px;
	margin: 0;
	background: url(../images/background.jpg)
}
.content-box{
	background: #71e096;
	width: 1500px;
	height: 800px;
	margin: 0 auto;
	padding: 15px;
	border: 20px dashed #fff;
	border-radius: 20px;
}
.content-header{
	text-align: center;
	font-size: 40px;
}
.content-body{
	text-align: center;
}
#start-btn{
	width: 500px;
	font-size: 40px;
	background: pink;
	border: 3px solid purple;
	border-radius: 10px;
	margin: 50px;
}
#start-btn:hover{
	background: #ffccff;
}
.option{
	text-align: center;
	display: block;
	margin: 10px auto;
	font-size: 30px;
	background: #fff;
	border: 2px solid #fff;
	border-radius: 10px;
}
.questionOutput{
	font-size: 40px;
}